ul#slide-out.side-nav
	li
		.divider
		a.subheader Administration
	li
		a.waves-effect(href="index.php")
			i.material-icons device_hub
			| Hub
	li
		a.waves-effect(href="networks.php")
			i.material-icons network_wifi
			| Networks
	li
		a.waves-effect(href="dhcp.php")
			i.material-icons dns
			| DHCP
	li
		a.waves-effect(href="performance.php")
			i.material-icons network_check
			| Performance
	li
		a.waves-effect(href="logs.php")
			i.material-icons error
			| Logs
	li
		a.waves-effect(href="logout.php")
			i.material-icons exit_to_app
			| Log out

	li
		.divider
		a.subheader Services
	li
		a.waves-effect(href="pastes.php")
			i.material-icons content_paste
			| Pastes

a.button-collapse.show-on-large.menu.btn.waves-effect.btn-large.white(href="#" data-activates="slide-out")
	i.material-icons menu