extends _template

block php
	:php
		require_once 'core/init.php';

		$messages = array();
		$user = new User();

		if(!$user->isLoggedIn()) {
			Redirect::to('login.php');
		}

		$db = DB::getInstance();

		if ($db->query('SELECT * FROM configs WHERE userid='.$user->data()->userid)->error()) {
			die('Failed to get users config!');
		}
		$userConfig = $db->results()[0];

		if(Input::exists()) {
			$validate = new Validate();
			$validation = $validate->check($_POST, array(
				'mac' => array(
					'required' => true,
					'min' => 17,
					'max' => 17
				)));
			if($validation->passed()) { 
				if (!$db->insert('allowedmacs', array(
					'mac' => Input::get('mac'),
					'configid' => $userConfig->configid
					))) {
					die("Could not delete old connection!");
				} 
			} else {
				foreach($validation->errors() as $error) {
					echo $error;
				}
			}
		}

		if ($db->query('SELECT * FROM allowedmacs WHERE configid='.$userConfig->configid)->error()) {
			die('Failed to fetch allowed macs.');
		}
		$macs = $db->results();

		exec('sudo commands/get_connected.sh', $out) 


block body
	include _navbar

	.container
		.row
			.col.s12
				.card
					.card-content.center
						.card-title DHCP
			.col.s12
				.card
					.card-content
						.card-title.center Connected devices
						ul.collection
							:php
								foreach($out as $o) {
									echo '<li class="collection-item">
									<div class="connected">'.$o.'</div>
									</li>';
				
								}
			.col.s12.m6
				.card
					.card-content
						.card-title.center Allowed MACs
						.row
							.col.s12.center
								.switch
									label
										| Off
										input(type="checkbox", checked)
										span.lever
										| On

						ul.collection
							:php
								foreach($macs as $mac) {
									echo '<li class="collection-item">
									<div class="connected">'.$mac->mac.'<a class="secondary-content" href="ajax/delete_mac.php?id='.$mac->macid.'"><i class="material-icons">clear</i></a></div>
									</li>';
								}
			.col.s12.m6
				.card
					.card-content
						.card-title.center Allow device
						form(method="post")
							.row
								.input-field.col.s12
									input#mac(type="text", name="mac")
									label(for="mac") MAC
								.col.s12.center
									input(type="hidden", name="token", value="<?php echo Token::generate(); ?>")
									button.btn.waves-effect.waves-light(type="submit") Allow

block script
	script(src="components/jquery/dist/jquery.min.js")
	script(src="components/materialize/dist/js/materialize.min.js")
	script(src="static/js/main.min.js")