extends _template

block php
	:php
		require_once 'core/init.php';

		$messages = array();
		$user = new User();
		$db = DB::getInstance();

		if(!$user->isLoggedIn()) {
			Redirect::to('login.php');
		}

		if(Session::exists('success')) {
			array_push($messages, Session::flash('success'));
		}

		if(Input::exists()) {
			if(Token::check(Input::get('token'))) {   
				$validate = new Validate();
				$validation = $validate->check($_POST, array(
					'oldpass' => array(
						'required' => true,
						'min' => 6,
						'max' => 50
					),
					'newpass' => array(
						'required' => true,
						'min' => 6,
						'max' => 50
					),
					'repass' => array(
						'required' => true,
						'min' => 6, 
						'max' => 50,
						'matches' => 'newpass' 
					) 
				));   

				if($validation->passed()) { 
					if(Hash::make(Input::get('oldpass'), $user->data()->passwordsalt) !== $user->data()->passwordhash) {
						array_push($messages, "Wrong password");
					} else {
						$salt = Hash::salt(32);
						$hash = Hash::make(Input::get('newpass'), $salt);
						try{                  
							$user->update(array(
								'passwordhash' => $hash,
								'passwordsalt' => $salt
							));    
							Session::flash('success', 'Password changed');
							Redirect::to('index.php');
						} catch (Exception $e) {
							die($e->getMessage());
						}
					}
				} else {
					foreach($validation->errors() as $error) {
						array_push($messages, $error);
					}
				}
			}
		}

		if ($db->query('SELECT `networkgroupid`, `networkid` FROM `configs` WHERE userid='.$user->data()->userid)->error()){
			die('Failed to fetch user config!');
		}
		$userConfig = $db->results()[0];

		$inputNetworks = array();
		if ($userConfig->networkgroupid != null) {
			if ($db->query('SELECT `networkid`, `ssid` FROM `networks` WHERE `networkgroupid`='.$userConfig->networkgroupid.' AND `type`="I"')->error()) {
				die('Failed to fetch input networks!');
			}
			$inputNetworks = $db->results();
		}

		if ($db->query('SELECT `networkid`, `ssid`, `password` FROM `networks` WHERE `networkid`='.$userConfig->networkid.' AND `type`="O"')->error()) {
			die('Failed to fetch output networks!');
		}
		$outputNetwork=$db->results()[0];

		foreach($messages as $error) 
		echo $error

block body
	include _navbar

	.container
		.row
			.col.s12
				.card
					.card-content.center
						.card-title Hub
			.col.s12.m6
				.card
					.card-content
						.card-title.center IN
						.wifi.row
							.ssid.center.col.s12 
								:php
									if(count($inputNetworks) > 0)
										echo $inputNetworks[0]->ssid; 
						.wifi.row
							.ssid.center.col.s12 
								:php
									if(count($inputNetworks) > 1)
										echo $inputNetworks[1]->ssid;
			.col.s12.m6
				.card
					.card-content
						.card-title.center OUT
						.wifi.row
							.ssid.center.col.s12 
								:php
									echo $outputNetwork->ssid;
							.pass.center.col.s12 Password: 
								span 
									:php
										echo $outputNetwork->password;
							.devices.col.s12 Connected devices:
								span 
									:php
										echo exec('sudo commands/get_connected.sh -n');
			.col.s12
				.card
					.card-content
						.card-title.center User
						.user.center
							.name 
								:php
									echo $user->data()->username;
							.group 
								:php
									echo $user->group_data()->title;
							.joined Joined:
								span 
									:php
										echo $user->data()->joined;
							.row
								.col.s12.m6
									a.btn.waves-effect.waves-light.modal-trigger(href="#changepass") Change password 
								.col.s12.m6
									a.btn.waves-effect.waves-light(href="logout.php") Log out

	.modal#changepass
		.modal-content
			h4 Change password
			form(method="post")
				.row
					.input-field.col.s12
						input#oldpass(type="password", name="oldpass")
						label(for="oldpass") Old password
					.input-field.col.s12
						input#newpass(type="password", name="newpass")
						label(for="newpass") Password
					.input-field.col.s12
						input#repass(type="password", name="repass")
						label(for="repass") Confirm password
					.col.s12.center
						input(type="hidden", name="token", value="<?php echo Token::generate(); ?>")
						button.btn.waves-effect.waves-light(type="submit") Change

		.modal-footer
			a.modal-action.modal-close.waves-effect.waves-light.btn-flat(href="#!") Close		

block script
	script(src="components/jquery/dist/jquery.min.js")
	script(src="components/materialize/dist/js/materialize.min.js")
	script(src="static/js/main.min.js")
	script(src="static/js/index.min.js")
