extends _template

block php
	:php
		require_once 'core/init.php';
		
		$db = DB::getInstance();
		$messages = array();
		$user = new User();

		if($user->isLoggedIn()) {
			Redirect::to('index.php');
		}

		if(Input::exists()) {
			if(Token::check(Input::get('token'))) {   		  
				$validate = new Validate();
				$validation = $validate->check($_POST, array(
					'username' => array(
						'required' => true, 
						'min' => 2,
						'max' => 100
					),
					'pass' => array( 
						'required' => true,
						'min' => 6,
						'max' => 50
					)
				));   		
				if($validation->passed()) {						
					$remember = (Input::get('rememberme') === 'on') ? true : false;
					$login = $user->login(Input::get('username'), Input::get('pass'), $remember);
					$userId = $user->data()->userid;
					if($login){
						if($db->query('SELECT * FROM configs WHERE userid='.$userId)->error()) {
							die('Failed to fetch user config!');
						}
						if($db->count() < 1) {
							if($db->insert('networkgroups', array(
									"name" => "Default network group",
									"userid" => $userId))) {
								$networkGroupId = $db->insertId();
							} else {
								die('Failed to create default network group!');
							}
							if($db->insert('networks', array(
									"ssid" => "Default output network",
									"password" => "password",
									"type" => "O",
									"networkgroupid" => null))) {
								$networkId = $db->insertId();
							} else {
								die('Failed to create default output network!');
							}
							if(!($db->insert('networks', array(
									"ssid" => "Default input network1",
									"password" => "password",
									"type" => "I",
									"networkgroupid" => $networkGroupId
								)) && $db->insert('networks', array(
									"ssid" => "Default input network2",
									"password" => "password",
									"type" => "I",
									"networkgroupid" => $networkGroupId
								)))) {
								die('Failed to create default input networks!');
							}
							if(!$db->insert('configs', array(
									"userid" => $userId,
									"networkgroupid" => $networkGroupId,
									"networkid" => $networkId
								))) {
								die('Failed to create default users config');
							}
						} 
						Redirect::to('index.php');
					} else {
						array_push($messages, "Wrong username or password!");
					}				
				} else {
					foreach($validation->errors() as $error) {
						array_push($messages, $error);
					}
				}
			}
		}

		

block body
	.container
		.row
			.col.s12.m6.offset-m3
				.card
					.card-content.center
						.card-title LOG IN
				.card
					.card-content
						form(method="post")
							.row
								.input-field.col.s12
									input#username(type="text", name="username")
									label(for="username") Username
								.input-field.col.s12
									input#pass(type="password", name="pass")
									label(for="pass") Password
								.col.s12
									input#rememberme(type="checkbox", name="rememberme")
									label(for="rememberme") Remember me
								.col.s12.center
									input(type="hidden", name="token", value="<?php echo Token::generate(); ?>")
									button.btn.waves-effect.waves-light(type="submit") Log in

block script
	script(src="components/jquery/dist/jquery.min.js")
	script(src="components/materialize/dist/js/materialize.min.js")
	script(src="static/js/main.min.js")
	:php
		if(!empty($messages)){
			echo '<script type="text/javascript">';
			foreach ($messages as $message) {
				echo "Materialize.toast('{$message}', 4000);";
			}
			echo '</script>';
		}