extends _template

block php
	:php
		require_once 'core/init.php';

		$messages = array();
		$user = new User();

		if(!$user->isLoggedIn()) {
			Redirect::to('login.php');
		}

		$db = DB::getInstance();
		if ($db->query('SELECT * FROM logs')->error()) {
			die("Failed to fetch logs");
		}
		$logs = $db->results();

block body
	include _navbar

	.container
		.row
			.col.s12
				.card
					.card-content.center
						.card-title Logs
			.col.s12
				ul.collapsible.card(data-collapsible="accordion")
					:php
						foreach($logs as $log) {
							if($log->type==0) {
								$type = "info";
							} elseif ($log->type==1) {
								$type = "warning";
							} else {
								$type = "error";
							}
							$username = new User($log->userid);
							$username = $username->data()->username;
							echo '<li>
								<div class="collapsible-header '.$type.'">
									<i class="material-icons">'.$type.'</i><span>'.$log->date.'</span>
								</div>
								<div class="collapsible-body">
									<span><b>User: </b> '.$username.'</span><br>
									<span><b>Type: </b> '.$type.'</span><br>
									<span><b>Date: </b> '.$log->date.'</span><br>
									<span><b>Message: </b><i>'.$log->description.'</i></span>
								</div>
							</li>';
						}

block script
	script(src="components/jquery/dist/jquery.min.js")
	script(src="components/materialize/dist/js/materialize.min.js")
	script(src="static/js/main.min.js")
	script(src="static/js/logs.min.js")
