extends _template

block php
	:php
		require_once 'core/init.php';

		$messages = array();
		$db = DB::getInstance();
		$user = new User();	
		// if(!$user->isLoggedIn()) {
		// 	Redirect::to('login.php');
		// }

		if(Input::exists()) {
			$validate = new Validate();
			$validation = $validate->check($_POST, array(
				'ssid' => array(
					'required' => true
				),
				'iface' => array(
					'required' => true
				)));   		
			if($validation->passed()) { 
				echo Input::get('iface').'<br>';
				echo Input::get('ssid').'<br>';
				echo Input::get('password').'<br>';
				echo 'dupa';
				echo exec('commands/connect.sh '.Input::get('iface').' '.Input::get('ssid').' '.Input::get('password'));
				echo 'koniec';
			} else {
				foreach($validation->errors() as $error) {
					echo $error;
				}
			}
		}
block body
	.container
		.row
			.col.s12.m12
				.card
					.card-content.center
						.card-title NETWORKING
			.col.s12.m6
				.card
					.card-content.center
						.card-title IN
						form(method="post")
							.row
								
									.input-field.col.s12.m8
										select
											option(value="", selected) New preset
											option(value="1") Option 1
											option(value="2") Option 2
											option(value="3") Option 3
										label Load preset
	
									.input-field.col.s12.m4
										a.btn.waves-effect.waves-light(href="#") Set
									.input-field.col.s12
										a.btn.waves-effect.waves-light.modal-trigger(href="#create_preset") Save

						.row
							.input-field.col.s12
								a.modal-trigger(href="#show_networks", data-iface="in0")
									input#wl0(type="text", name="wl0", value="TEMP1", disabled)
									label(for="wl0") Interface 1
						.row
							.input-field.col.s12
								a.modal-trigger(href="#show_networks", data-iface="in0")
									input#wl1(type="text", name="wl1", value="TEMP2", disabled)
									label(for="wl1") Interface 2
			.col.s12.m6
				.card
					.card-content.center 
						.card-title OUT
						form(method="post")
							.row
								.input-field.col.s12
									input#ssid(type="text", name="ssid")
									label(for="ssid") Ssid
								.input-field.col.s12
									input#password(type="password", name="password")
									label(for="password") Password
								.col.s12.center
									input(type="hidden", name="token", value="<?php echo Token::generate(); ?>")
									button.btn.waves-effect.waves-light(type="submit") UPDATE

	.modal#show_networks
		.modal-content#networks_content
			h4 Available networks

		.modal-footer
			a.modal-action.modal-close.waves-effect.waves-light.btn-flat(href="#!") Close	

	.modal.modal-pass#connect
		.modal-content
			h4 Connect
			form(method="post")
				.row
					.input-field.col.s12
						input#connect_ssid(type="text", name="connect_ssid", value="temp", disabled)
						input#connect_iface(type="hidden", name="connect_iface")
						label(for="connect_ssid") SSID
					.input-field.col.s12
						input#pass(type="password", name="connect_pass")
						label(for="connect_pass") Password
					.col.s12.center
						input(type="hidden", name="token", value="<?php echo Token::generate(); ?>")
						button.btn.waves-effect.waves-light(type="submit") Connect

		.modal-footer
			a.modal-action.modal-close.waves-effect.waves-light.btn-flat(href="#!") Close		

	.modal#create_preset
		.modal-content
			h4 Save preset
			form(method="post")
				.row
					.input-field.col.s12
						input#preset_name(type="text", name="preset_name")
						label(for="preset_name") Name
					.col.s12.center
						input(type="hidden", name="token", value="<?php echo Token::generate(); ?>")
						button.btn.waves-effect.waves-light(type="submit") Save

		.modal-footer
			a.modal-action.modal-close.waves-effect.waves-light.btn-flat(href="#!") Close			


block script 
	script(src="components/jquery/dist/jquery.js")
	script(src="components/materialize/dist/js/materialize.js")
	script(src="static/js/networks.js")
	:php
		if(!empty($messages)){
			echo '<script type="text/javascript">';
			foreach ($messages as $message) {
				echo "Materialize.toast('{$message}', 4000);";
			}
			echo '</script>';
		}

						