extends _template

block php
	:php
		require_once 'core/init.php';

		$messages = array();
		$user = new User();

		if(!$user->isLoggedIn()) {
			Redirect::to('login.php');
		}

		$db = DB::getInstance();
		if ($db->query('SELECT performances.networkid, ssid, name FROM ((performances LEFT JOIN networks ON performances.networkid = networks.networkid) LEFT JOIN networkgroups ON networks.networkgroupid = networkgroups.networkgroupid) GROUP BY performances.networkid')->error()) {
			die("Failed to fetch logs");
		}
		$testGroups = $db->results();

		if(Input::exists('get')) {
			$validate = new Validate();
			$validation = $validate->check($_GET, array(
				'id' => array(
					'required' => true,
					'type' => 'number'
				)
			));   

			if($validation->passed()) { 
				if ($db->query('SELECT * FROM performances WHERE networkid='.Input::get('id'))->error()) {
					die("Failed to fetch specified network performances");
				}
				$tests = $db->results();
			} else {
				foreach($validation->errors() as $error) {
					array_push($messages, $error);
				}
			}
			
		} else {
			$tests = array();
		}

block body
	include _navbar

	.container
		.row
			.col.s12
				.card
					.card-content.center
						.card-title Performance
			.col.s12
				.card
					.card-content.no-spaces
						.card-title.center Tests
						form(method="get")
							.row.no-spaces
								.input-field.col.s12.m12.l12
										select#id(name="id")
											option(value="", selected, disabled)
												:php
													foreach($testGroups as $group) {
														echo '<option value="'.$group->networkid.'">'.$group->ssid.' at preset: '.$group->name.'</option>';
													}
										label Select network
					ul.collapsible(data-collapsible="accordion")
						:php
							foreach($tests as $test) {
							echo '<li>
									<div class="collapsible-header"><span>'.$test->testdate.'</span></div>
									<div class="collapsible-body">
										<div class="wifi row">
											<div class="performance col s6">
												<div class="title">Download</div>'.$test->downloadspeed.' kb/s
											</div>
											<div class="performance col s6">
												<div class="title">Upload</div>'.$test->uploadspeed.' kb/s
											</div>
										</div>
									</div>
								</li>';
							}
			.col.s12
				.card
					.card-content
						.card-title.center New test
							.row
								.col.s12
									a.btn.waves-effect.waves-light(href="#new_data") Test
							.wifi.row#new_data
							.progress.hide
								.indeterminate
						


block script
	script(src="components/jquery/dist/jquery.min.js")
	script(src="components/materialize/dist/js/materialize.min.js")
	script(src="static/js/main.min.js")
	script(src="static/js/performance.min.js")
