:php
	chdir('..');
	require_once 'core/init.php';
	$user = new User();

	if(!$user->isLoggedIn()) {
		Redirect::to('login.php');
	}

form(method="post", action="/pastes.php")
	.row
		.input-field.col.s12
			input#title(type="text", name="title")
			label(for="title") Title
		.input-field.col.s12
			input#data(type="text", name="data")
			label(for="text") Text
		.col.s12
			input#flag(type="checkbox", name="flag")
			label(for="flag") Extend expiration date?
		.col.s12.center
			button.btn.waves-effect.waves-light(type="submit") Create